.about-page h1{
  margin-top: 30px;
  font-family: "lucida console", monospace;
  color:rgb(79, 75, 75);
}

/* div{
  background-color: rgb(222, 217, 217) ;
  height:700px;
} */

.about-page p{
margin-right: 100px;
margin-left: 100px;
margin-top: 50px;
margin-bottom: 50px;
font-family: "monaco", monospace;
font-weight: bold;
}

.about-page img{
  height:50px;
  margin-top: 20px;
  margin-right: 20px;
  padding: 9px;
  transition: transform 0.5s;
  

  
}

.about-page img:hover{
  transform:scale(1.2);

}
.about-page .social-container{
  width: 100%;
  display: flex;
  justify-content: center;
}