.about-page{
  height:100vh;
}
.about-page h1{
  margin-top: 30px;
  margin-left: 45px;
  font-family: "lucida console", monospace;
  color:rgb(176, 168, 168);
}

/* div{
  background-color: rgb(222, 217, 217) ;
  height:700px;
} */




.about-page p{

margin-right: 100px;
margin-left: 100px;
margin-top: 50px;
margin-bottom: 50px;
font-family: "monaco", monospace;
font-weight: bold;
color: white;
}

.about-page .SMI{
  position: relative;
  height:50px;
  left:-50px;
  margin-right: 20px;
  padding: 9px;
  transition: transform 0.5s,filter 0.2s , border-bottom 0.1s;
  

  
}

.about-page .F:hover{
  filter:invert(15%) sepia(89%) saturate(3435%) hue-rotate(236deg) brightness(93%) contrast(118%);
  border-bottom: solid 2px blue;

}


.about-page .I:hover{
  filter: invert(51%) sepia(36%) saturate(415%) hue-rotate(357deg) brightness(94%) contrast(90%);
  border-bottom: solid 2px ;


}

.about-page .T:hover{
  border-bottom: solid 2px  ;

  filter: invert(73%) sepia(30%) saturate(802%) hue-rotate(116deg) brightness(98%) contrast(82%);
}

.about-page img:hover{
  transform:scale(1.2);
  filter:grayscale(-200%);

}
.about-page .social-container{
  width: 100%;
  display: flex;
  justify-content: center;
}

