:root {
  --white-color: white;
  --primary-dark: #434141;
  --dark-color: #24252a;
  --text: #e2eaec;
  --background: #22092c;
  --primary: #872341;
  --secondary: #be3144;
  --accent: #f05941;
  --border-radius-primary: 20px;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  position: fixed;
  height: 100%;
  width: 100%;
  /* background-color: white; */
}
.app {
  font-family: "lucida console", monospace;
}
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

/* here Pages Backgrounds */
.landing-page {
  background-image: url(./Images/bg2.svg);
  background-repeat: no-repeat;
  background-size: cover;
}

.sign-up-page {
  background-image: url(./Images/bg3.svg);
  background-repeat: no-repeat;
  background-size: cover;
}

.create-shipment-page {
  background-image: url(./Images/bg4.svg);
  background-repeat: no-repeat;
  background-size: cover;
}
.home-page {
  background-image: url(./Images/bg7.svg);
  background-repeat: no-repeat;
  background-size: cover;
}

.about-page{
  background-image: url(./Images/bg2.svg);
  background-repeat: no-repeat;
  background-size: cover;
  backdrop-filter: blur(10);
}

.Shipments-page{
  background-image: url(./Images/bg2.svg);
  background-repeat: no-repeat;
  background-size: cover;
  backdrop-filter: blur(10);
}