.shipment-details-page {
  height: 100vh;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  color: white;
  gap: 5%;
}

.shipment-details-page .card {
  padding: 10px;
}
.shipment-details-page form {
  display: flex;
  flex-direction: column;
  height: 15rem;
  width: 20rem;
}
.shipment-details-page .form-container {
  display: none;
}
.shipment-details-page .steps {
  width: 100%;
}

.shipment-details-page .delete-icon {
  /* color: rgb(211, 74, 74); */
  /* background-color: white; */
  
}
.shipment-details-page .action-box{
  display: flex;
  gap: 20px;
}