.create-shipment-page {
  height: 100vh;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  /* gap: sp; */
}

.create-shipment-page .container {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.create-shipment-page .headline {
  position: absolute;
  
}

.create-shipment-page form {
  display: flex;
  flex-direction: column;
  background-color: rgb(225, 225, 225);
  padding: 10%;
  color: white;
  border-radius: 20px;
}

.create-shipment-page form input {
  min-width: 300px;
}
.create-shipment-page form .input {
  min-width: 200px;
}

.create-shipment-page .right {
  /* background-color: rgba(0, 0, 0, 0.412); */
  /* position: absolute; */
  /* top: 0; */
  /* left: auto; */
  /* right: 0; */
  /* height: 100vh; */
  /* background-color: inherit; */
  /* border: 3px dashed; */
  /* margin-right: 0;
  margin-top: 0; */
}

.create-shipment-page .shipment-id {
  background-color: white;
  /* display: flex; */

  /* height: 40px; */
  text-align: center;
  /* justify-content: ; */
  align-items: center;
  border-radius: 20px;
  padding-right: 10px;
  padding-top: 5px;
  padding-bottom: 5px;
}

.create-shipment-page .shipment-id span {
  cursor: pointer;
}
.create-shipment-page .shipment-id span:hover {
  /* background-color: rgb(176, 176, 176); */
  color: rgb(129, 127, 127);
}
