.container-grid {
  padding: 10px;
}
form {
  display: flex;
  padding: 10px;
  justify-content: space-between;
}
form .login-input {
  width: 40%;

  
}
.item-grid {
  background-color: blanchedalmond;
  padding-top: 15%;
}
/* img {
  background-color: rgb(240, 240, 240);
  border: 3px rgb(215, 215, 215) solid;
  border-radius: 10%;
} */
