.shipment-card .card-1 {
  animation: Slide-in-card 1s ease-in-out;
  background-color: var(--primary-white);
  color: var(--text-black);
  /* border-radius: 30px; */
  /* background: lightgrey; */
  box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 50px -12px inset, rgba(0, 0, 0, 0.3) 0px 18px 26px -18px inset;
  
}

@keyframes Slide-in-card {
  0% {
    position: relative;
    margin-top: 100%;
  }
  to {
    margin-top: 0;
  }
}
.shipment-card .deliver-icon-container {
  width: 40%;
  height: 1.7rem;
  border-radius: 20px;
  /* background-color: white; */
  margin-left: auto;
  overflow: hidden;
}

.shipment-card .material-symbols-outlined {
  color: var(--secondary);
  animation: Deliver-icon 6s ease-in-out;
  animation-iteration-count: infinite;
  margin-left: -15%;
  border-bottom: solid 100px var(--accent);
  /* margin-left: 0px; */
}

@keyframes Deliver-icon {
  from {
    margin-left: -15%;
  }
  to {
    margin-left: 100%;
  }
}


.shipment-card button{
    background-color: var(--accent);
}