.info-card{
    background-color: #24252a;
    color: white;
    padding: 20px;
    border-radius: 20px;
    height: 30rem;
    width: 30rem;
    text-align: center;
    position: absolute;
    top: 150px;
}

.info-card p{
    margin-top: 100px;
}

.info-card .btn{
    font-size: 15px;
    margin-top: 210px;
    margin-left: 150px;
}

.info-card h4{
    font-weight: bolder;
}

.info-card img{
    height: 50px;
    width:50px;
    position: absolute;
    top:2px;
    left:20px;
}

